# Exclude these files from source distributions.
# setuptools_scm includes everything else by default.
prune .github
exclude Makefile
exclude .gitignore
exclude .gitattributes
exclude environment.yml
exclude .flake8
